<template name="accountShow">


    {{> accountAvatar}}

    <div>Published:</div>



    <!-- {{> PublishedItem}} -->

	<div class="published">
    	{{#each publishWithRank}}
    	  {{> postItem}}
    	{{/each}}
    
    	{{#if nextPath}}
   		   <a class="load-more" href="{{nextPath}}">Load more</a>
    	{{else}}
    	  {{#unless ready}}
     	   {{> spinner}}
     	 {{/unless}}
    	{{/if}}
	</div>


    
    <!-- {{> RecommendedItem}}  -->

    <div>Recommended:</div>

    <div class="published">
        {{#each recommendedWithRank}}
          {{> postItem}}
        {{/each}}
    
        {{#if nextPath}}
           <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
          {{#unless ready}}
           {{> spinner}}
         {{/unless}}
        {{/if}}
    </div>



</template>