<template name="postItem">
  <div class="post" {{attributes}}>
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span>{{description}}</span></h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <!-- 
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
    -->

    <ul class="itemAccount">
          <li class="itemAccount_username">
            <div class="itemAccount_username" >  
               <!-- {{itemAccount}} -->
            userName
            </div>
          </li>

          <li class="itemAccount_icon">
            <img src="/logo.jpg" width="40" height="40"/>
          </li>
          
    </ul>

    <div class="itemAccount">
      


      

    </div>
  </div>
    {{#if dispContent}}
        <div>
          <p><pre>{{content}}</pre></p>
        </div>
    {{/if}}
</template>